:root {
  --primary-color: #181846;
  --portGore: #181846;
  --orange: #ff5722;
  --ghost: #c4c5d7;
  --whiteLilac: #f9f9fd;
  --whisper: #ecedf5;
  --ebony: #0c0d25;
  --fullwidth: 100%;
  font-family: "Nunito Sans";
}

html,
body {
  overflow: auto;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans";
  line-height: 1.6;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--orange);
  font-weight: 700;
  font-family: "Nunito Sans";
}

p,
h3 {
  margin: 0;
}

* {
  box-sizing: border-box;
}
