:root {
  --primary-color: #181846;
  --portGore: #181846;
  --orange: #ff5722;
  --ghost: #c4c5d7;
  --whiteLilac: #f9f9fd;
  --whisper: #ecedf5;
  --ebony: #0c0d25;
  --fullwidth: 100%;
  font-family: "Nunito Sans";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans";
  line-height: 1.6;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--orange);
  font-weight: 700;
  font-family: "Nunito Sans";
}

p {
  margin: 0;
}

.p-button-label {
  font-weight: 500;
}

.p-button {
  border-radius: 3px;
  border: 1px solid transparent;
  &:focus {
    box-shadow: none;
  }
}

.p-card {
  background: var(--whiteLilac);
  border: 1px solid var(--whisper);
  box-shadow: none;
}

.p-card-content {
  padding: 0;
}

.p-inputtext {
  border-radius: 3px;
  border: 1px solid transparent;
}

* {
  box-sizing: border-box;
}
